<source>
    @type forward
    bind 0.0.0.0
    port 24224

    <transport tls>
        cert_path /etc/td-agent/node-fullchain.pem
        private_key_path /etc/td-agent/node.key
        client_cert_auth true
        ca_path /etc/td-agent/ca.pem
    </transport>
</source>

