# {{ ansible_managed }}

<source>
    @type ping_message
    @label @hearbeat_events
    tag ping
    interval 10
    data "thudum, thudum, thudum..."
    <inject>
        hostname_key host
    </inject>
</source>
