# {{ ansible_managed }}

<match ping.**>
    @type elasticsearch
    host coord-2
    port 9200
    scheme https
    user fluentd_internal
    password {{ fluentd_users.fluentd_internal }}
    index_name fluentd_heartbeat
    include_timestamp true
    ca_file /etc/td-agent/ca.pem
</match>