# {{ ansible_managed }}

<match wildfly>
    @type elasticsearch
    host coord-2
    port 9200
    scheme https
    user fluentd_internal
    password {{ fluentd_users.fluentd_internal }}
    ca_file /etc/td-agent/ca.pem

    logstash_format true
    logstash_prefix fluentd-wildfly
</match>