# {{ ansible_managed }}

<source>
    @type forward
    bind 0.0.0.0
    port 24224

    <transport tls>
        cert_path /etc/td-agent/node-fullchain.pem
        private_key_path /etc/td-agent/node.key
        client_cert_auth true
        ca_path /etc/td-agent/ca.pem
    </transport>
</source>

<filter wildfly>
    @type parser
    key_name log
    reserve_data true
    <parse>
        @type regexp
        expression /^(?<time>\d{4}-\d{2}-\d{2}\s+\d{2}:\d{2}:\d{2},\d{3})\s+(?<level>\w+)\s+\[(?<class>[^\]]+)\]\s+\((?<thread>[^)]+)\)\s+(?<message>.*)/m
    </parse>
</filter>

<filter wildfly>
    @type record_transformer
    remove_keys log
</filter>

<match wildfly>
    @type elasticsearch
    host coord-2
    port 9200
    scheme https
    user fluentd_internal
    password {{ fluentd_users.fluentd_internal }}
    ca_file /etc/td-agent/ca.pem

    logstash_format true
    logstash_prefix fluentd-wildfly
    time_key time
    time_key_format %Y-%m-%d %H:%M:%S,%L

    <buffer tag, time>
      timekey 20s
      timekey_wait 10s
      flush_thread_count 4
    </buffer>
</match>