<filter wildfly>
    @type parser
    key_name log
    
    <parse>
        @type regexp
        #expression /^(?<timestamp>\d{4}-\d\d-\d\d\s+\d\d:\d\d:\d\d,\d{3})\s+(?<level>\w+)\s+\[(?<class>[^\]]+)\]\s+\((?<thread>[^)]+)\)\s+(?<message>.*)/m
        expression /^(?<timestamp>[0-9]{4}-[0-9]{2}-[0-9]{2}\s+[0-9]{2}:[0-9]{2}:[0-9]{2},[0-9]{3})\s+(?<remainder>.*)/
        time_key timestamp
        time_format %Y-%m-%d %H:%M:%S,%L
    </parse>
</filter>