<filter wildfly>
    @type parser
    
    <parse>
        @type regexp
        expression /^(?<timestamp>\d{4}-\d\d-\d\d \d\d:\d\d:\d\d,[0-9]{3})\s+(?<loglevel>\w+)\s+\[(?<class>[^\]]+)\]\s+\((?<thread>[^)]+)\)\s+(?<message>.*)/m
        time_key logtime
        time_format %Y-%m-%d %H:%M:%S,%L
</filter>