# {{ ansible_managed }}
input {
    heartbeat {
        id => "logstash_heartbeat"
        interval => 10
        message => "thudum, thudum, thudum..."
        type => "heartbeat"
        add_field => {"[@metadata][target_index]" => "logstash-hearbeat"}
    }
}